<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AllFactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <AllFactory.Properties.Settings>
            <setting name="AllFactory_WebReference_MDCService" serializeAs="String">
                <value>http://10.1.50.82/dss/MDCService.asmx</value>
            </setting>
        </AllFactory.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="mesLink" value="http://10.1.50.93:8090/mes/mesService?machIDCard=[name]&amp;departCode=0709"/>
    <add key="modelName" value="/file/mode/TI_digitalizedfactory090702.iphz"/>
    <add key="CodeGen" value="/file/mode/CodeGen.xml"/>
    <!--<add key="modelName" value="/file/mode/light.iphz"/>-->
    <add key="port" value="6001"/>
    <add key="jc_array" value="BFN63-1,light101_input_LIGHT;CK6163,light201_input_LIGHT;CKA6763,light301_input_LIGHT;Z3050,light401_input_LIGHT;SABRE500,light501_input_LIGHT"/>
    <!--<add key="jc_array" value="2040VMC,light101_input_LIGHT;BFN63-004-0004,light201_input_LIGHT;BFN63-004-0005,light301_input_LIGHT;CK61100-011-039,light401_input_LIGHT;CK61100-011-040,light501_input_LIGHT"/>-->
    <add key="video_array" value="aaa.avi,bbb.avi"/>
    <add key="video_view" value="1,zhougan.avi;2,agv.avi;3,aaa.avi;4,bbb.avi"/>
    <add key="isDebug" value="1"/>
  </appSettings>
</configuration>